* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url('https://static.todamateria.com.br/upload/pa/is/paisagem-natural-og.jpg?class=ogImageWide');
    background-size: cover;
}